/* ==========><>|Global|<><========== */

.img-fluid__custom{
    max-width: 70%;
    height: auto;    
}

/* ==========><>|Global|<><========== */

/* ==========><>|Card Problem|<><========== */

.card-problem__dark{
    background: #f8f8ff;
}

.card-problem__light{
    background: #ffffff;
}

/* ==========><>|Card Problem|<><========== */

/* ==========><>|Header|<><========== */

.header{
    background: url(../images/background-header.png) no-repeat center;
    background-size: cover;
}

/* ==========><>|Header|<><========== */

/* ==========><>|Background|<><========== */

.dark-bg{
    background: #f8f8ff;
}

.footer-bg{
    background: #f8faf9;
}

/* ==========><>|Background|<><========== */

/* ==========><>|Font-color|<><========== */

.main-color{
    color: #24A437;
}

/* ==========><>|Font-color|<><========== */

/* ==========><>|Navigation|<><========== */

.nav-fix__body__nav-list__list-item{
    color: #535353;
    transition: .2s;
}

.nav-fix__body__nav-list__list-item:hover{
    text-decoration: none;
    color: #24A437;
    cursor: pointer;
}

/* ==========><>|Navigation|<><========== */


